<div class="home" style="background-image: url('https://res.cloudinary.com/daytskqjn/image/upload/v1750261130/kxeco0fjbays5xtubhm2.jpg');">
  <div class="container">
    <div class="row justify-content-center">
      <% @lists.each do |list| %>
        <div class="col-6 col-md-4 col-lg-3 mt-3">
          <div class="card-main card-list"

          <% if list.photo.attached? %>
          style="background-image: url('<%= cl_image_path list.photo.key %>');"
          <% end %>>

            <%= link_to list.name,  list_path(list) %>
          </div>
        </div>
      <% end %>
    </div>
      <div class="col-12 text-center mt-5">
        <h1>Save any kind of movies</h1>
        <p>Manage your movie lists with ease!</p>
      </div>
    </div>
  </div>
</div>
