.button {
  display: inline-block;
  margin-right: 16px;
  height: 40px;
  padding: 5px 25px;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}
