.card-main {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  padding: 16px 8px;
  box-shadow: 0 2px 8px rgba(244, 243, 243, 0.385);
}

.card-list {
  margin: 0 auto;
  aspect-ratio: 2 / 3;
  min-height: 150px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 16px rgba(244, 243, 243, 0.63);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  }


.card-list a {
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
  color: $white;
  transition: 0.3s ease;
  &:hover {
    color: $red;
  }
}

.card-movie {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35vh;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
  h2 {
    color: $red;
    font-size: 36px;
    font-weight: bolder;
    max-width: 80%;
    margin: 0;
    overflow-wrap: break-word;
  }
  p {
    font-size: 16px;
    margin: 0;
  }
  h3 {
    font-size: 16px;
  }
  &:hover {
    transform: scale(1.005);
    box-shadow: 0 3px 12px rgba(244, 243, 243, 0.63);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
}

.card-movie a {
  color: $red;
  &:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
  }
}

.card-movie .p-quote {
  font-style: italic;
}
