.navbar-lewagon {
  justify-content: space-between;
  background: black;
  color: white;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover {
      color: $red ; // Use the yellow color from your config
    }
  }
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
